.heder{
    width: 1280px;
    height: 100vh;
    display: inline-block;
}
.img{
    width: 1280px;
}
.nav-list{
    list-style: none;
    text-align: center;
    
}
.nav-item{
    display: inline-block;
    text-align: center;
    margin: 25px 72px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: #FF0000;
}
.main{
    width: 1145px;
}
.main-heder{
    margin-top: 48px;
    margin-bottom: 38px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-align: center;
    text-transform: uppercase;
}
.main-content{
    margin: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}
.btn{
    
    width: 191px;
    height: 51px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    background-color: #FF0000;
    border-radius: 5%;
    text-align: center;
    margin: 66px auto;
    color: white;
    border: none;
    display: block;
}

.btn-link{
    display: block;
    color: white;
    text-align: center;
    width: 191px;
    height: 51px;
}    

.cehtr-btn {
     text-align: center;
     margin-top: 66px;
}
.button {
    cursor: pointer;
    border: 15px solid red;
    background-color: red;
    color: white;
    font-family: 'Montserrat';
    border-radius: 10px;
    margin-top: 66px;
    margin-bottom: 82px;
}

.footer{
    width: 1070px;
}
.footer-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
}